#melding {
    height: 100px;
}
body {
    margin: 0;
    font-family: 'Poppins';
    font-size: 0.8rem;
}

body h1, h2, h3 {
    font-family: 'Merriweather';
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
}

header img {
    margin: 0;
    width: 10vw;
    height: auto;
}

nav {
    margin-top: 0px;
    display: flex;
    text-align: right;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

nav a:hover {
    color: #0056b3;
    text-decoration: underline;
}

footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #ccc;
    bottom: 0;
    width: 100%;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}

form input, form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

form select {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-family: 'Poppins';
    
}

form select:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form option {
    font-size: 1rem;
    font-family: 'Poppins';
}

table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    text-align: left;
    font-family: 'Poppins';
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #D5D5D5;
}

table tr:nth-child(odd) {
    background-color: #EFEFEF;
}

table h3{
    margin: 0;
    font-size: 1rem;
    font-family: 'Merriweather';
}

.status.ikke_påbegynt {
    color: white;
    background-color: #FF5733;
    
}

.status.under_behandling {
    color: white;
    background-color: #FFC300;
}

.status.oppklart {
    color: white;
    background-color: #28A745;
}