<!-- Dette er admin-login-siden hvor administratorer kan logge inn -->
{% extends 'base.html' %}
{% block content %}
<form method="post">
    <label for="brukernavn">Brukernavn</label>
    <input placeholder="Skriv inn brukernavn" style="font-style: italic;" type="text" name="brukernavn" required><br>
    <label for="passord">Passord</label>
    <input placeholder="Skriv inn passord" style="font-style: italic;" type="password" name="passord" required><br>
    <button type="submit">Logg inn</button>
</form>
{% endblock %}