<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fjell</title>
</head>
<body>
    <header>
        <h2>Fjell Bedriftsløsninger</h2>

        <nav>
            <a href="/send"></a>
            <a href="/status"></a>
            <a href="/hendvendelser"></a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <h3>Kontakt oss</h3>
        <p>Epost: fjell@bedrift.com</p>
        <p>tlf: +47 121 33 454 </p>
    </footer>

    
    <script src="/static/statusPage.js"></script>
</body>

</html>